.root {
  icon {
    font-size: 78px;
  }
}
.link {
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(198, 198, 129);
  padding: 5px 15px;
  display: inline-block;
  margin-top: 15px;
}
