.root {
  position: relative;
}

.input {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  font-size: 18px;
  width: 400px;
  padding-left: 40px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.icon {
  position: absolute;
  top: 12px;
  left: 10px;
  cursor: pointer;
  opacity: 0.3;
}
.iconDelete {
  opacity: 0.2;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.iconDelete:hover {
  opacity: 0.3;
  transform: scale(1.2) rotate(90deg);
}
